# Core
torch>=2.9.1
torchvision>=0.24.1
numpy>=2.2.6

# Image & Vision
opencv-python>=4.12.0
Pillow>=12.0.0
scikit-image>=0.25.2
scipy>=1.15.3
timm>=1.0.22

# Training utilities
einops>=0.8.1
torchdiffeq>=0.2.5
tensorboard>=2.20.0
tqdm>=4.67.1

# Data & Config
lmdb>=1.7.5
pyyaml>=6.0.3
addict>=2.4.0
requests>=2.32.5
