# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# VSCode
*.vscode

# Others
examples/image_generation/data
examples/*/output_dir*
examples/image/scripts
examples/image/outputs
examples/image/data
examples/image/output_dir
examples/images/*
examples/imagenet/*
examples/image_generation/*
examples/*.ignore
examples/*/snapshots*
examples/*/outputs

examples/imagenet/scripts
*.ipynb_checkpoints*

make.bat
docs/output
docs/source/generated
docs/source/notebooks
docs/source/images
**/*.ipynb_checkpoints/

projects/image_latent/cache
projects/image_latent/vqvae_training/cache
projects/image_latent/outputs
*/assets/

outputs/
output_dir/

*logs/
*mixture_uniform_step=320001/
*.out
*.err